/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
   
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXunRvi2Ds9huJH8TAbk_tXteU2l0UKQJV6w&usqp=CAU');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    margin: 50px auto;
    width: 80%;
    max-width: 800px; /* Adjusted max-width */
    background-color: #fff; /* Set background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
  }
  
  .container h2 {
    margin-bottom: 20px;
  }
  
  .container p {
    margin-bottom: 15px;
  }
  
  .container ul {
    margin-bottom: 20px;
  }
  
  .container ul li {
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px; /* Adjusted padding */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 1px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  