/* home page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:last-child a {
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  nav ul li:last-child a:hover {
    background-color: #0056b3;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f2f2f2;
  }
  
  .hero h2 {
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  .train-symbol {
    width: 30px;
    height: 30px;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fillustoon.com%2F%3Fid%3D4950&psig=AOvVaw3FjHXnaTkjnyFiJHT_kcI5&ust=1707738367609000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCMD5ibGbo4QDFQAAAAAdAAAAABAE'); /* Replace 'train_symbol.png' with your actual image path */
    background-size: cover;
    margin-top: 5px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }


